<div class="col-md-6 offset-md-3">
    <h3> Create Tutorial </h3>
    <form (ngSubmit)="onSubmit()" class="my-3">
        <div class="form-group">
            <label> Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="tutorial.description"
                name="description">
        </div>

        <div class="form-group">
            <label> Is Active?</label>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="isActiveTrue" name="isActive"
                    [(ngModel)]="tutorial.isActive" [value]="true">
                <label class="form-check-label" for="isActiveTrue">True</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="isActiveFalse" name="isActive"
                    [(ngModel)]="tutorial.isActive" [value]="false">
                <label class="form-check-label" for="isActiveFalse">False</label>
            </div>
            <!-- <label> Is Active (True/False)</label> -->
            <!-- <input type="text" class="form-control" id="isActive" [(ngModel)]="tutorial.isActive" name="isActive"> -->
        </div>

        <button class="btn btn-success align-self-center mt-3" type="submit">Submit</button>

    </form>
    <small>All Rights Reserved 2023</small>
</div>